<div class="container">
  <div class="col-lg-12" style="padding: 20px 0">
    <div class="input-group">
      <input #productSearch type="text" class="form-control" placeholder="Search for product..." (keyup)="getProducts(productSearch.value)">
      <span class="input-group-btn">
        <button class="btn btn-default vs-clear-search" type="button" (click)="getProducts();productSearch.value=null;">Clear</button>
      </span>
    </div>
  </div>
  
  <div *ngIf="productSearch.value === '' && crossProducts.length === 0" class="vs-search-image-container"><img src="../../../assets/product.png" class="vs-search-image"/></div>

  <div class="col-sm-4 vs-products-columns" style="border-right: 2px solid white;">
    <div *ngIf="products">
      <ul class="vs-clear-style" *ngFor="let product of products | async" class="search-result" >
        <li class='vs-search-results'><i class="fa fa-plus vs-plus" aria-hidden="true" (click)="addToProductArray(product)"></i>{{product.name}} <br /><span style='font-style: italic; text-align: center; display: block;'>Category: {{product.categories}}</span></li>
      </ul>
    </div>
  </div>
  
  <!-- if nothing has been added but products have been searched-->
  <div class="col-sm-8 vs-search-image-container" *ngIf="productSearch.value != '' && crossProducts.length === 0">
    <img src="../../../assets/cart.png" class="vs-search-image" style="transform: scale(0.3);"/>
    <h5 class="vs-instructional">Add products from the list to see common ingredients</h5>
  </div>
  
  <!-- crossproducts columns -->
  <div class="col-sm-4 vs-products-columns" style="">
    <div *ngIf="crossProducts.length != 0">
      <ul class="vs-clear-style" *ngFor="let crossProduct of crossProducts">
        <li class='vs-cross-products-selections'><i class="fa fa-minus vs-minus" aria-hidden="true" (click)="removeProduct(crossProduct)"></i>{{crossProduct.name}} <br /><span style='font-style: italic; text-align: center; display: block;'>Category: {{crossProduct.categories}}</span></li>
      </ul>
    </div>
  </div>
  
  <div class="col-sm-4 vs-products-columns" style="border-left: 2px solid white;">
    <div *ngIf="crIngredients">
      <ul class="vs-clear-style" *ngFor="let ingredient of crIngredients | async" class="search-result" >
        <li class='vs-cross-products-ingredients'>{{ingredient.name}}</li>
      </ul>
    </div>
  </div>
</div>

