.vs-products-page {
  padding-bottom: 50px;
}

.vs-clear-search {
  /*background-color: #99D3DF; /* NOTE: ice */*/
  background-color: gray;
}

.vs-plus {
  margin-right: 10px
}
  .vs-plus:hover {
    transform: scale(2);
  }
  
.vs-minus {
  margin-right: 10px;
}
  .vs-minus:hover {
    transform: scale(1.5);
  }

.vs-products-columns {
  /*min-height: 0px; NOTE: need the height to be not 0px to maintain box width*/
  padding: 0px;
  background-color: #E9E9E9;
}

.vs-search-results {
  padding: 10px;
  margin: 0 10px;
  list-style-type: none;
  font-size: 12px;
  background-color: #F7F7F9;
}

.vs-cross-products-selections {
  padding: 10px;
  margin: 0 10px;
  list-style-type: none;
  font-size: 12px;
  background-color: white;
}

.vs-cross-products-ingredients {
  padding: 10px;
  margin: 0 10px;
  list-style-type: none;
  font-size: 12px;
  background-color: #F7F7F9;
  text-align: center;
}

.vs-clear-style !important {
  margin: 0;
  padding: 0;
}

.vs-search-image {
  margin: auto;
  display: block;
  transform: scale(0.5);
  max-height: 100%;
  max-width: 100%;
}

.vs-search-image-container {
  height: calc(100vh - 78px);
}

.vs-instructional {
  text-align: center; 
  font-family: 'Gentium Book Basic', serif;
  transform: translateY(-100px);
}