<!-- sidebar -->
<div class="boop" style='top: 0; bottom: 0; left: 0; right: 0; z-index: 100000000000000; display: none; position: fixed;'>
</div>

<div class="sidebar">
    <ul class="vs-categories">
        <li class='vs-category'>
            <div #boundHome class="js-category-description vs-category-description" (click)="selectCategory(boundHome, boundCategoryTitle)" style="color: black;">
                <i class="fa fa-home" aria-hidden="true" style="padding-right: 15px; font-weight: 700;"></i>
                Home
            </div>
        </li>
        <li class='vs-category' *ngFor="let category of categories">
            <div>
                <div #boundCategory (click)="selectCategory(boundCategory, boundCategoryTitle, category)" class='js-category-description js-category-reselect-{{category.id}} vs-category-description'>
                    <i class="fa fa-location-arrow" aria-hidden="true" style="padding-right: 15px; line-height: 1.5em;"></i>
                    <p class="category-{{category.id}}" style="display:inline-block; margin:0; padding:0;">{{category.name}}</p>
                    <span class="category-{{category.id}}-container vs-category-inline-container" style="display:none;">
                        <input class="category-{{category.id}}-input vs-category-inline-input" (keydown)="updateCategory($event, category.id, boundCategoryTitle);" (click)="stopPropagation($event);" type="text" maxlength="35"/>
                        <i class="fa fa-times" (click)="stopPropagation($event); editCategory(category.id)" style="padding-top: 5px; box-shadow: none; background-color: transparent;"></i>
                    </span>
                </div>
                <div class="dropdown" style="float: right; line-height: 1.5em; padding: 5px;">
                    <a class="fa fa-caret-down" id="categoryDropDownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="categoryDropDownMenu">
                        <a class="dropdown-item" (click)="selectCategory(boundCategory, boundCategoryTitle, category)">Select</a>
                        <a class="dropdown-item" (click)="editCategory(category.id)">Edit</a>
                        <a class="dropdown-item" (click)="deleteCategory(category);">Delete</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <form (keydown)="addCategory(boundCategoryInput, $event);" class="js-category-form vs-category-form">
        <a href="javascript:void(0);">
            <i class="fa fa-plus" (click)="showCategoryInput();" aria-hidden="true" style='color: #D84D20; padding-left: 20px;'></i>
        </a>
        <a href="javascript:void(0);">
            <p class="js-category-label vs-category-add" (click)="showCategoryInput();">Add Category</p>
        </a>
        <input #boundCategoryInput type="text" class="js-category-input vs-category-input" maxlength="35"/><br> <!-- force max length for now -->
        <a href="javascript:void(0);" class="js-category-input vs-category-input-cancel" (click)="hideCategoryInput(boundCategoryInput);">cancel</a>
    </form>
</div>

<!-- list -->
<div class="list">
    <h1 #boundCategoryTitle class="vs-category-title js-category-title">Home</h1>
    <div class="vs-list-table">
        <table style='width: 100%;height:0;'>
            <tr style="border-bottom: 1px solid #f2f2f2;" *ngFor="let task of tasks">
                <td style="height: 100%;">
                    <div class="vs-task-circle" (click)="removeTask(task);"></div>
                </td>
                <td class='vs-list-item'>
                    <span class='vs-task-description'>
                        <div class="vs-task-title task-{{task.id}}">
                            {{task.title}}
                            <span class="vs-overdue" *ngIf="task.overdue">(overdue)</span>
                        </div>
                    </span>
                </td>
                <td class='vs-task-start'>{{task.start | date:'MMM dd'}}</td>
                <td class='vs-edit-button' data-toggle="modal" data-target="#listModal" [attr.data-taskid]="task.id" [attr.data-title]="task.title">
                    <i class="fa fa-edit"></i>
                </td>
            </tr>
        </table>
    </div>
    <form (keydown)="addTask(boundTaskInput, boundStartDateInput, boundEndDateInput, $event);">
        <input #boundTaskInput type="text" class="vs-task-input" placeholder="Add Task"/>
        <input #boundStartDateInput class="flatpickrStart vs-flatpickr-start vs-date-input" placeholder="&#xf272;" style="font-family: FontAwesome;" type="datetime-local" step="any"/>
        <input #boundEndDateInput class="flatpickrEnd vs-flatpickr-end vs-date-input" placeholder="&#xf271;" style="font-family: FontAwesome;" type="datetime-local" step="any"/> <!-- NOTE: need second flatpickr to do two dates -->
    </form>
    <button class='vs-task-button btn btn-lg btn-primary' (click)="addTask(boundTaskInput, boundStartDateInput, boundEndDateInput, $event);">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
</div>

<!-- edit modal -->
<div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="listModalLabel">Edit Task</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="task-title" class="form-control-label">Task:</label>
                        <input #boundModalTitle type="text" class="form-control" id="task-title">
                    </div>
                    <div class="form-group">
                        <label for="start-date" class="form-control-label">Start Date:</label>
                        <input #boundModalStart class="form-control flatpickrStart" id="start-date" placeholder="Choose Date..." type="datetime-local" step="any"/>
                    </div>
                    <div class="form-group">
                        <label for="end-date" class="form-control-label">End Date:</label>
                        <input #boundModalEnd class="form-control flatpickrEnd" id="end-date" placeholder="Choose Date..." type="datetime-local" step="any"/>
                    </div>
                </form>
            </div>
            <div #boundHiddenId class="hidden-id" style="display:none;"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-elegant" data-dismiss="modal" (click)="removeModalValues(boundModalTitle, boundModalStart, boundModalEnd, boundHiddenId);">Close</button>
                <button type="button" class="btn btn-primary" (click)="updateTask(boundModalTitle, boundModalStart, boundModalEnd, boundHiddenId);">Save</button>
            </div>
        </div>
    </div>
</div>

<app-calendar></app-calendar>