<div class="sidebar">
  <ul class="vs-categories">
    <li class='vs-category'>
      <div class="js-category-description vs-category-description" (click)="selectCategory($event)"><i class="fa fa-tag" aria-hidden="true" style="padding-right: 15px;"></i>Home</div>
    </li>
    <li class='vs-category' *ngFor="let category of categories">
      <div (click)="selectCategory($event, category)" class='js-category-description vs-category-description'>
        <i class="fa fa-tag" aria-hidden="true" style="padding-right: 15px; line-height: 1.5em;"></i>
        {{category.name}}
        <i class="fa fa-times" aria-hidden="true" (click)="deleteCategory(category, $event);" style="float: right; line-height: 1.5em;"></i>
      </div>
    </li>
  </ul>
  <form (keydown)="addCategory(categoryInput, $event);" class="js-category-form">
    <a href="javascript:void(0);"><i class="fa fa-plus" (click)="showCategoryInput();" aria-hidden="true" style='color: #2C6BD6;'></i></a>
    <a href="javascript:void(0);"><p class="js-category-label vs-category-add" (click)="showCategoryInput();">Add Category</p></a>
    <input #categoryInput type="text" class="js-category-input vs-category-input"/>
    <a href="javascript:void(0);" class="js-category-input vs-category-input-cancel" (click)="hideCategoryInput(categoryInput);">cancel</a>
  </form>
</div>

<div class="list">
  <ul class="vs-list">
    <li class='vs-list-item' *ngFor="let task of tasks">
      <div class="vs-task-circle" (click)="removeTask(task);"></div>
      <span class='vs-task-description'>
        <div class="vs-task-title">{{task.title}}</div>
      </span>
      <div class="vs-task-start">{{task.start}}</div>
    </li>
  </ul>
  <form (keydown)="addTask(taskInput, startDateInput, endDateInput, $event);">
      <input #taskInput type="text" class="vs-task-input" placeholder="Description"/>
      <input #startDateInput class="flatpickrStart vs-flatpickr-start" type="text" placeholder="Start Date"/>
      <input #endDateInput class="flatpickrEnd vs-flatpickr-end" type="text" placeholder="End Date"/>
  </form>
  <button class='vs-task-button btn btn-lg btn-primary' (click)="addTask(taskInput, startDateInput, endDateInput, $event);"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>