<div class="sidebar">
  <ul class="vs-categories">
    <li class='vs-category'>
      <div class="js-category-description vs-category-description" (click)="selectCategory($event)" style="color: black;"><i class="fa fa-location-arrow" aria-hidden="true" style="padding-right: 15px;"></i>Home</div>
    </li>
    <li class='vs-category' *ngFor="let category of categories">
      <div (click)="selectCategory($event, category)" class='js-category-description vs-category-description'>
        <i class="fa fa-location-arrow" aria-hidden="true" style="padding-right: 15px; line-height: 1.5em;"></i>
        {{category.name}}
        <i class="fa fa-times" aria-hidden="true" (click)="deleteCategory(category, $event);" style="float: right; line-height: 1.5em;"></i>
      </div>
    </li>
  </ul>
  <form (keydown)="addCategory(categoryInput, $event);" class="js-category-form vs-category-form">
    <a href="javascript:void(0);"><i class="fa fa-plus" (click)="showCategoryInput();" aria-hidden="true" style='color: #D84D20; padding-left: 20px;'></i></a>
    <a href="javascript:void(0);"><p class="js-category-label vs-category-add" (click)="showCategoryInput();">Add Category</p></a>
    <input #categoryInput type="text" class="js-category-input vs-category-input" maxlength="35"/> <!-- force max length for now -->
    <a href="javascript:void(0);" class="js-category-input vs-category-input-cancel" (click)="hideCategoryInput(categoryInput);">cancel</a>
  </form>
</div>

<div class="list">
  <h1 class="vs-category-title js-category-title">Home</h1>
  <div class="vs-list-table">
    <tr style="display:block; border-bottom: 1px solid #f2f2f2;" *ngFor="let task of tasks">
      <td style="height: 100%;"><div class="vs-task-circle" (click)="removeTask(task);"></div></td>
      <td class='vs-list-item'>
        <span class='vs-task-description'>
          <div class="vs-task-title">{{task.title}}</div>
        </span>
        <div class="vs-task-start">{{task.start | date}}</div> <!-- omg angular pipes are fucking amazing -->
      </td>
    </tr>
  </div>
  <form (keydown)="addTask(taskInput, startDateInput, endDateInput, $event);">
      <input #taskInput type="text" class="vs-task-input" placeholder="Description"/>
      <input #startDateInput class="flatpickrStart vs-flatpickr-start" type="text" placeholder="Start Date"/>
      <input #endDateInput class="flatpickrEnd vs-flatpickr-end" type="text" placeholder="End Date"/>
  </form>
  <button class='vs-task-button btn btn-lg btn-primary' (click)="addTask(taskInput, startDateInput, endDateInput, $event);"><i class="fa fa-plus" aria-hidden="true"></i></button>
</div>