@media (max-width: 768px) {
    .list {
      position: relative;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: white;
      width: 100%;
      height: calc(100vh - 50px);
    }
}

@media (min-width: 768px) {
    .list {
      position: fixed;
      top: 50px;
      bottom: 0;
      left: 300px;
      display: block;
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;
      background-color: white;
      border-right: 1px solid #eee;
      width: 400px;
    }
}

.vs-list {
  padding: 5px;
  margin-bottom: 150px;
}

.vs-list-item {
  list-style-type: none;
  padding: 3px;
}

.vs-task-circle {
  margin-right: 20px;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  border: 2px solid #f3f3f3;
  display: inline-block;
  position: relative;
  top: 5px;
}
  .vs-task-circle:hover {
    background-color: black;
  }

.vs-task-description {
  border-bottom: 1px solid #f2f2f2;
  width: calc(100% - 70px);
  display: inline-block;
  padding-bottom: 5px;
}

.vs-task-input {
  position: absolute;
  display: block;
  width: calc(100% - 40px);
  bottom: 125px;
  border: 1px solid #f2f2f2;
  padding: 5px;
  font-size: 13px;
  text-align: center;
}

.vs-flatpickr-start {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: calc(50% - 20px);
  bottom: 94px;
  left: 20px;
  border: 1px solid #f2f2f2;
  border-top: none;
  padding: 5px;
  font-size: 13px;
}

.vs-flatpickr-end {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: calc(50% - 20px);
  bottom: 94px;
  right: 20px;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding: 5px;
  font-size: 13px;
}

.vs-task-button {
  position: absolute;
  display: inline-block;
  bottom: 59px;
  left: 20px;
  width: calc(100% - 40px);
  background-color: #2c6bd6;
  border-radius: 0px;
  padding: 10px;
  border: none;
  font-size: 0.8em;
  font-weight: lighter;
}