<div class="sidebar">
    <ul class="vs-categories">
        <li class='vs-category'>
            <div class="js-category-description vs-category-description" (click)="selectCategory($event, categoryTitle)" style="color: black;">
                <i class="fa fa-home" aria-hidden="true" style="padding-right: 15px; font-weight: 700;"></i>
                Home
            </div>
        </li>
        <li class='vs-category' *ngFor="let category of categories">
            <div (click)="selectCategory($event, categoryTitle, category)" (dblclick)="toggleEdit(category.id, 'category')" class='js-category-description vs-category-description'>
                <i class="fa fa-location-arrow" aria-hidden="true" style="padding-right: 15px; line-height: 1.5em;"></i>
                <p class="category-{{category.id}}" style="display:inline-block; margin:0; padding:0;">{{category.name}}</p>
                <input #editCategoryInput class="category-{{category.id}}-input" (keydown)="updateCategory($event, category.id);" style="display:none;" type="text" maxlength="35"/>
                <i class="fa fa-times" aria-hidden="true" (click)="deleteCategory(category, $event);" style="float: right; line-height: 1.5em;"></i>
            </div>
        </li>
    </ul>
    <form (keydown)="addCategory(categoryInput, $event);" class="js-category-form vs-category-form">
        <a href="javascript:void(0);">
            <i class="fa fa-plus" (click)="showCategoryInput();" aria-hidden="true" style='color: #D84D20; padding-left: 20px;'></i>
        </a>
        <a href="javascript:void(0);">
            <p class="js-category-label vs-category-add" (click)="showCategoryInput();">Add Category</p>
        </a>
        <input #categoryInput type="text" class="js-category-input vs-category-input" maxlength="35"/><br> <!-- force max length for now -->
        <a href="javascript:void(0);" class="js-category-input vs-category-input-cancel" (click)="hideCategoryInput(categoryInput);">cancel</a>
    </form>
</div>