.vs-footer {
    margin: 0;
    padding: 5px;
    text-align: center;
    background-color: #000F14;
    opacity: 0.5;
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 1000;
}

.vs-footer > p {
    color: white;
    margin: 0;
}