.down {
    position: absolute;
    top: calc(5vh + 45.5px);
    bottom: 50vh;
    left: 5vw;
    right: 5vw;
}

.graphBackground {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
}

.up {
    position: absolute;
    top: 52vh;
    bottom: 10vh;
    left: 5vw;
    right: 5vw;
}