.vs-login {
    background-image: url('../../../assets/powerlist.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.vs-login-button {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 40vh;
    background-color: black;
    border-radius: 5px;
    font-weight: 500;
    border: none;
}

.vs-login-button:hover {
    background-color: gray;
}