<div class="vs-login">
  <i class="vs-logo fa fa-plug" aria-hidden="true"><span style='font-size: 10vw;'>PowerList</span><span class='vs-site-description'>A convenient, lightweight, scheduling tool.</span></i>
  <button class="btn btn-primary btn-lg vs-login-button" (click)="authService.login()" *ngIf="!authService.authenticated()">Log In or Sign Up</button>
  <button class="btn btn-primary btn-lg vs-login-button" *ngIf="authService.authenticated()"><a style="text-decoration: none" href="../private/(aux:list)">Continue to PowerList</a></button>
</div>