canvas {
    position: absolute;
}
.vs-title-block {
    color: white;
    margin: auto;
    margin-top: 20vh;
    text-align: center;
}
.vs-login {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: scroll;
}

.vs-login-button {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 8vh;
    font-weight: 700;
    border: none;
    box-shadow: none;
    background: none !important;
    color: white !important;
}
    .vs-login-button:hover {
        background: none !important;
        color: yellow !important;
        transform: scale(1.1);
        cursor: pointer;
    }

.vs-site-description {
    font-size: 3vh;
    margin-top: 0px;
    display: block;
}