.vs-login {
    /*background-image: url('../../../assets/powerlist.jpg');*/
    background-color: #D84D20;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.vs-logo {
    font-size: 30vw;
    color: white;
    margin-top: 20vh;
    margin-left: 10vw;
    display: inline-block;
}

.vs-login-button {
    display: block;
    text-align: center;
    margin: auto;
    margin-top: 5vh;
    border-radius: 5px;
    font-weight: 200;
    border: none;
    background-color: white;
    color: #D84D20;
}

.vs-login-button:hover {
    background-color: #D84D20;
    color: white;
    font-weight: 700;
}