<canvas id='c'></canvas>
<div class="vs-login">
  <div class="vs-title-block"><span style='font-size: 10vw;'>PowerList</span><span class='vs-site-description'>A lightweight, electrifying scheduling tool.</span></div>
  <button class="btn btn-primary btn-lg vs-login-button" (click)="authService.login()" *ngIf="!authService.isAuthenticated()">Log In or Sign Up</button>
  <button class="btn btn-primary btn-lg vs-login-button" *ngIf="authService.isAuthenticated()"><a style="text-decoration: none" href="../private/(aux:list)">Continue to PowerList</a></button>
</div>