<div class="sidebar">
  <div class="vs-home-list js-home-list" (click)="selectCategory($event)">Home</div>
  <ul class="vs-categories">
    <li class='vs-category' *ngFor="let category of categories">
      <span (click)="selectCategory($event)" class='vs-category-description'>{{category.name}}</span>
    </li>
  </ul>
  <form (keydown)="addCategory(categoryInput, $event);">
    <i class="fa fa-plus" (click)="addCategory(categoryInput, $event);" aria-hidden="true"></i>
    <input #categoryInput type="text" class="vs-category-input" placeholder="Category"/>
  </form>
</div>