/* You can add global styles to this file, and also import other style files  */
/*********************** Global Settings **************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Exo 2', 'Merriweather', 'Arvo', serif;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

/********************* FullCalendar customization *****************************/
.fc-toolbar h2 {
    font-size: 1em;
    line-height: 40px;
    font-weight: 700;
}
.fc .fc-button-group>* {
    border-radius: 0;
}
.fc .fc-toolbar>*>* {
    border-radius: 0;
}
.fc-button {
    border: none;
    background-image: none;
    text-shadow: none;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.16),0 1px 5px 0 rgba(0,0,0,.12);
}
.fc-state-active {
    background-color: #000F14;
    color: white;
}
.fc-state-disabled {
    background-color: #000F14;
    color: white;
    opacity: 1;
    cursor: default;
}
.fc-today-button {
}
    .fc-today-button:hover {
        background-color: #000F14;
    }
.fc-day-header span {
    font-weight: normal;
    font-size: 0.9em;
}
hr.fc-divider {
    padding: 0;
    border-top: 1px solid black;
}
/* position of calendar toggles */
@media (max-width: 768px) {
    .fc-center {
        position: absolute;
        display: block;
        bottom: 50px;
        left: 20px;
        margin: auto;
        width: calc(100% - 40px);
    }
}
@media (min-width: 768px) {
    .fc-center {
        position: absolute;
        display: block;
        bottom: 100px;
        left: 20px;
        margin: auto;
        width: calc(100% - 40px);
    }
}
.fc-center > .fc-button {
    float: none;
}
button:focus {
    outline: none;
}
.fc-event {
    border-radius: 0px;
}
.fc-event .fc-content {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.16),0 1px 2px 0 rgba(0,0,0,.12);
}
/************************* Flatpickr elements *********************************/
.flatpickr-calendar {
    z-index: 1050; /* get ontop of bootstrap */
}
/************************** Bootstrap overrides *******************************/
.btn-primary {
    background-color: #D84D20 !important;
}
.btn-default {
    background-color: #2E2E2E !important;
}