/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arvo', serif;
}

/* this needs to be here instead of the component.css because it is included after fullcalender.css */
.fc-toolbar h2 {
  font-size: 1em;
  line-height: 40px;
  font-weight: 700;
}

.fc-button {
  border: none;
  background-image: none;
  text-shadow: none;
  box-shadow: none;
}

.fc-state-active {

}

.fc-today-button {
  background: none;
}
  .fc-today-button:hover {
    text-decoration: underline;
  }

.fc-day-header span {
  font-weight: normal;
  font-size: 0.9em;
}

hr.fc-divider {
  padding: 0;
  border-top: 1px solid black;
}

/* position of calendar toggles */

@media (max-width: 768px) {
    .fc-center {
        position: absolute;
        display: block;
        bottom: 50px;
        left: 20px;
        margin: auto;
        width: calc(100% - 40px);
    }
}

@media (min-width: 768px) {
    .fc-center {
        position: absolute;
        display: block;
        bottom: 100px;
        left: 20px;
        margin: auto;
        width: calc(100% - 40px);
    }
}

.fc-center > .fc-button {
    float: none;
}

button:focus {
    outline: none;
}

.vs-flatpickr-start {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: calc(50% - 20px);
  bottom: 94px;
  left: 20px;
  border: 1px solid #f2f2f2;
  border-top: none;
  padding: 5px;
  font-size: 13px;
}

.vs-flatpickr-end {
  position: absolute;
  display: inline-block;
  text-align: center;
  width: calc(50% - 20px);
  bottom: 94px;
  right: 20px;
  border: none;
  border-bottom: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  padding: 5px;
  font-size: 13px;
}
